.level_selection_box {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


.level_selection_box > a > button {
    margin: 5px;
}

.level_selection_box > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

  /* ----------
        COMPUTER SCREEN phone 
----------------------*/
@media screen and (max-width: 450px) {

    .btns {
        border: 2px dashed gold;
        display: flex;
        flex-wrap: wrap;
    }

    .level_selection_box {
        padding: 15px;
    }
}